input[type=text], input[type=password] {
	background: transparent;
	border: none;
	outline: none;
	border-bottom: 1px solid black;
	font-size: 16px
}
.content-wrap {
	max-width: 80%;
	margin: 0 auto;
}
.field {
	margin: 10px 0;
}
.error-message {
	color: red;
}
#submit {
	margin-left: 5%;
	margin-top: 10px;
}