{% extends "layout.html" %}
{% block title %}
	{{ super() }} | Home
{% endblock %}
{% block head %}
	<link rel="stylesheet" type="text/css" href="../static/index.css">
{% endblock %}
{% block body %}
	<header>
		<nav>
			<a href="{{ url_for('logout') }}" class="btn-secondary">Log out</a>
		</nav>
	</header>
	<main>
		<div class="content-wrap">
			<form action="{{ url_for('setter_save') }}" method="post">
				<h2>Setter</h2>
				<p>Enter a key-value pair and press "SET" to commit.</p>
				{{ set_form.csrf }}
				<div class="input text">
					<div class="input field">
						{{ set_form.setter_key.label }}

						{% if set_form.setter_key.errors %}
							{% for error in set_form.setter_key.errors %}
								<p class="error-message">{{ error }}</p>
							{% endfor %}
						{% endif %}

						{{ set_form.setter_key }}
					</div>
					<div class="input field">
						{{ set_form.setter_value.label }}

						{% if set_form.setter_value.errors %}
							{% for error in set_form.setter_value.errors %}
								<p class="error-message">{{ error }}</p>
							{% endfor %}
						{% endif %}

						{{ set_form.setter_value }}
					</div>
				</div>
				<div class="input submit">
					<input type="submit" value="SET" />
				</div>
			</form>
			<form action="{{ url_for('get_pressed') }}" method="post">
				<h2>Getter</h2>
				<p>Enter a key and press "GET" to retrieve the corresponding value.</p>
				{{ get_form.csrf }}
				<div class="input text">
					{{ get_form.getter_key.label }}

					{% if get_form.getter_key.errors %}
						{% for error in get_form.getter_key.errors %}
							<p class="error-message">{{ error }}</p>
						{% endfor %}
					{% endif %}

					{{ get_form.getter_key }}
				</div>
				<div class="input submit">
					<input type="submit" value="GET" />
				</div>
			</form>
			<div class="display">
				<h1>{{ message }}</h1>
			</div>
		</div>
	</main>
{% endblock %}
